html{
  scroll-behavior: smooth;
}
body{
  margin-left: 40px;
  margin-right: 40px;
  margin-top:10px;
  animation: fadeIn 3s;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header h1{
  cursor:pointer;
}
.header ul{
  display: flex;
  gap:20px;
}
.header ul li a{
  text-decoration: none;
  color:black;
}
.header ul li{
  list-style: none;
  font-weight: 600;
  font-size: max(1.5vw,10px);
  cursor: pointer;
}
.hero-sec{
  display:flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: wrap;
}
.sec-left{
  width:55%;
  padding: 20px;
}
.sec-left img{
  width:100%;
}
.sec-right{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width:30%;
}

.hero-sec button{
  height:40px;
  width:max(120px,80px);
  margin: 10px;
  color:rgb(39, 20, 94);
  background: white;
  cursor:pointer;
}
.hero-sec input{
  width:100%;
  height:30px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline:rgb(39, 20, 94);
  border:2px solid rgb(39, 20, 94);
}
.title-pledge{
  color: rgb(39, 20, 94);
}
.hero-sec button:hover{
  background:rgb(39, 20, 94);
  color:white;
}
.hero-sec h4{
  background: rgb(39, 20, 94);
  color: white;
  padding:10px;
}
.impact{
  margin-top:50px;
}
.impact-pics{
  display: flex;
  gap:25px;
  justify-content:space-evenly;
  align-items: center;
  
}
.circle{
  background:rgb(223, 226, 31);
  color:white;
  border-radius:30px;
  text-align: center;
  padding:50px;
  width:20%;
  height:200px;
}
.circle1{
  background:rgb(58, 211, 127);
  color:white;
  border-radius:30px;
  text-align: center;
  padding:50px;
  width:20%;
  height: 200px;
}
.circle2{
  background:rgb(50, 152, 174);
  color:white;
  height:300px;
  border-radius:30px;
  text-align: center;
  padding:50px;
  height:200px;
  width:20%;
}
.circle3{
  background:rgb(206, 72, 117);
  color:white;
  border-radius:30px;
  text-align: center;
  padding:50px;
  width:20%;
  height:200px;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.contact form{
  display: flex;
  flex-direction: column;
  gap:20px;
  width:70%;
  padding: 20px;
  box-shadow: 0px 0px 40px #00000015;
}
.contact input{
  height:30px;
  outline: none;
}
.contact textarea{
  height:100px;
  outline:none;
}
.contact button{
  width:20%;
  height:40px;
  color:white;
  background:blueviolet;
  border:none;
}
footer{
  margin-top: 50px;
  background-color:rgb(40, 39, 39);
  color:white;
  padding: 20px;
}
#menu-icon{
  display:none;
}
footer .parent{
  display: flex;
  justify-content: space-between;
}

footer p{
  margin-top: 10px;
  margin-bottom: 10px;
}



@media(max-width:900px){
  .sec-right{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width:100%;
  }
  .sec-left{
    width:100%;
    padding: 20px;
  }
  .impact-pics{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content:space-evenly;
    align-items: center;
  }

}

@media(max-width:567px){
  .circle,.circle1,.circle2,.circle3{
    width:50%;
  }
  .contact form{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:100%;
  }
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}